<footer>
    <h3>Hi i'm a footer with 12 toes.</h3>
    <ul>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
        <li>toe</li>
    </ul>
</footer>