<div class="wrapper">
  <div class="center">

    <form class="form" action="/story" method="post">
      <label for="noun1" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun1" placeholder="Enter Noun!">
      <label for="noun2" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun2" placeholder="Enter Noun2!">
      <label for="noun3" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun3" placeholder="Enter Noun3!">
      <label for="adjective4" class="form-item>"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="adjective4" placeholder="Enter Adjective!">
      <label for="adjective5" class="form-item>"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="adjective5" placeholder="Enter Adjective2!">
      <label for="adjective6" class="form-item>"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="adjective6" placeholder="Enter Adjective3!">
      <label for="noun7" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun7" placeholder="Enter Noun4!">
      <label for="time_in_the_past8" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="time_in_the_past8"
        placeholder="Enter Time-in-the-past!">
      <label for="noun9" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun9" placeholder="Enter Noun5!">
      <label for="noun10" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun10" placeholder="Enter Noun6!">
      <label for="noun11" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="noun11" placeholder="Enter Noun7!">
      <label for="past_tense_verb13" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="past_tense_verb13"
        placeholder="Enter Past-tense Verb!">
      <label for="adjective14" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="adjective14"
        placeholder="Enter Adjective4!">
      <label for="verb15" class="form-item"></label>
      <input class="input is-primary is-rounded is-large" type="text" name="verb15" placeholder="Enter Verb!">
      <div class="center">
        <input class="button is-rounded is-link" type="submit" value="Submit!">
      </div>
  </div>
</div>
</div>
</div>
</div>

</form>