
  <figure class="image is-128x128">
  <img class="banana" src= "./images/Bananatango.gif">
</figure>
  <h1 class="is-size-1"> Banana - Justice League </h1>
  <h2>Would you like to play a game?</h2>
  <a class="button is-primary is-rounded" href="/form">Click here!</a>