<div class="header-banner">
  <figure class="image is-128x128">
    <img class="banana" src="./images/Bananatango.gif">
  </figure>
</div>
<div class="hero-div">
  <img class="hero-img" src="./images/Black-banana.png" alt="banana written in letters made out of bananas">
  <h1 class="is-size-1 header-text"> Justice League </h1>
</div>
<div class="bottom-content">
  <h2 class="sub-text">Would you like to play a game?</h2>
  <a class="button is-primary is-rounded button-custom" href="/form">Click here!</a>
</div>