
/* body font */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* font rule = font-family: 'Roboto Mono', monospace; */

html,
.wrapper  {

  background-color: yellow;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.wrapper {
  margin: 0 auto;
  max-width: 600px;
}

p {
  font-family: 'Roboto Mono', monospace;
  color: black;
}


.center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.container {
  background-color: white;
  padding: 50px;
}

.hero {
  background-color: hsl(60, 100%, 50%);
}

.section-of-text {
  margin: 20px;
  padding: 20px;
  background-color: hsl(60, 100%, 90%);

}

.heading {
  font-size: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.spacing {
  margin: 7px;
}

.margin {
  margin-top: 69px;
}


