
html,
.wrapper  {
  background-color: yellow;
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.center {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 50%;
}

.input-words {
  border-bottom: .1rem solid yellow;
  box-shadow: 0 -.4rem 0 yellow inset;
}

@import "../node_modules/bulma/css/bulma.css";
